.fondo{
  background-image: url("src/assets/images/perritos/fondo.jpg");
  opacity: 0.8;
}

.parallax {
  /* The image used */
  background-image: url("src/assets/images/perritos/perraso.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2 {
  /* The image used */
  background-image: url("src/assets/images/perritos/gato.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.div-nombre {
  margin-top: 120px;
  height: 200px;
}

.picsum-img-wrapper{
  img{
    width: 100% !important;
    height: 300px !important;
  }
}