<div class="fondo text-center p-3">
  <h1 class="display-4">VETERINARIAS RAMÓN CARBÓ A SU DISPOSICIÓN</h1>
  <p class="lead">
    El todopoderoso Ramón El todopoderoso Ramón El todopoderoso Ramón.
  </p>
  <hr class="my-4" />
  <p>
    El todopoderoso Ramón El todopoderoso Ramón El todopoderoso Ramón El
    todopoderoso Ramón El todopoderoso Ramón.
  </p>
</div>

<div class="parallax" style="height: 40%"></div>
<div class="row fondo">
  <div class="row justify-content-around p-5 ">
    <div class="col-5">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide" />
          </div>
          <div class="carousel-caption">
            <h3>Veterinaria Ramón</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide" />
          </div>
          <div class="carousel-caption">
            <h3>Second slide label</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide" />
          </div>
          <div class="carousel-caption">
            <h3>Third slide label</h3>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col-5">
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti beatae
        eum officia totam, corrupti, repudiandae, labore recusandae rem eveniet
        quae repellendus nisi. Commodi fuga numquam est in harum necessitatibus
        id.
      </p>
    </div>
  </div>

  <div class="row justify-content-around p-5">
    <div class="col-5">
      <p-gmap
        [options]="options"
        [style]="{ width: '100%', height: '320px' }"
      ></p-gmap>
    </div>
    <div class="col-5">
      <p class="lead">
        El todopoderoso Ramón El todopoderoso Ramón. El todopoderoso Ramón El
        todopoderoso Ramón. El todopoderoso Ramón El todopoderoso Ramón. El
        todopoderoso Ramón El todopoderoso Ramón.
      </p>
    </div>
  </div>
</div>

<div class="parallax-2" style="height: 70%"></div>

<div class="row justify-content-around p-5 fondo">
  <div class="col-5">
    <ul>
      <li>Ramón es mi dios</li>
      <li>Ramón alabado seas</li>
      <li>Ramón el FOOTER</li>
    </ul>
  </div>
  <div class="col-5">
    <p class="lead">
      El todopoderoso Ramón El todopoderoso Ramón. El todopoderoso Ramón El
      todopoderoso Ramón. El todopoderoso Ramón El todopoderoso Ramón. El
      todopoderoso Ramón El todopoderoso Ramón.
    </p>
  </div>
</div>
