<div class="parallax" style="height: 20%"></div>

<div class="jumbotron">
  <h1 class="display-4">VETERINARIAS RAMÓN CABRÓN A SU DISPOSICIÓN</h1>
  <p class="lead">
    El todopoderoso Ramón El todopoderoso Ramón El todopoderoso Ramón.
  </p>
  <hr class="my-4" />
  <p>
    El todopoderoso Ramón El todopoderoso Ramón El todopoderoso Ramón El
    todopoderoso Ramón El todopoderoso Ramón.
  </p>
</div>

<div class="parallax" style="height: 40%"></div>

<div class="row">
  <div class="col-7">
    <p-galleria
      [images]="images"
      [showCaption]="true"
    ></p-galleria>
  </div>
  <div class="col-5">
    <p>
      El todopoderoso Ramón El todopoderoso Ramón El todopoderoso Ramón El
      todopoderoso Ramón El todopoderoso Ramón. El todopoderoso Ramón El todopoderoso Ramón El todopoderoso Ramón El
      todopoderoso Ramón El todopoderoso Ramón. El todopoderoso Ramón El todopoderoso Ramón El todopoderoso Ramón El
      todopoderoso Ramón El todopoderoso Ramón.
    </p>
  </div>
</div>

<div class="parallax" style="height: 40%"></div>

<div class="justify-content-center">
  <p-gmap
    [options]="options"
    [style]="{ width: '100%', height: '320px' }"
  ></p-gmap>
</div>

<div class="parallax" style="height: 20%"></div>
