<div class="fondo"></div>
<div class="text-center p-3 pt-5">
  <h1 class="display-4">VETERINARIAS RAMÓN CARBÓ</h1>
  <h4 class="blockquote">Más de 30 años de experiencia como veterinario.</h4>
  <img src="assets/images/perritos/log.png" class="vet-logo" />
  <footer class="blockquote-footer pt-2" style="font-size: 1.5em;">
    Ramón, el jesucristo pero de los animales
  </footer>
  <hr class="my-4" />
  <mat-button-toggle-group
    #group="matButtonToggleGroup"
    value="catadau"
    (change)="selectClinica(group.value)"
  >
    <mat-button-toggle value="catadau">Catadau</mat-button-toggle>
    <mat-button-toggle value="llosa">Llosa</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="parallax" style="height: 40%"></div>

<div class="fondo"></div>
<div class="row">
  <div class="row justify-content-around p-5 w-100">
    <div class="col-md-5 col-sm-10">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide" />
          </div>
          <div class="carousel-caption">
            <h3>Veterinaria Ramón</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide" />
          </div>
          <div class="carousel-caption">
            <h3>Second slide label</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide" />
          </div>
          <div class="carousel-caption">
            <h3>Third slide label</h3>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col-md-5 col-sm-10 ">
      <h2 class="h2 text-center">{{ titulo }}</h2>
      <p class="lead descripcion-consulta">
        {{ descripcion }}
      </p>
    </div>
  </div>

  <div class="row justify-content-around p-5 w-100">
    <div class="col-md-5 col-sm-10">
      <p-gmap
        *ngIf="titulo == 'Catadau'"
        [overlays]="overlays"
        [options]="mapCatadau"
        [style]="{ width: '100%', height: '320px' }"
      ></p-gmap>
      <p-gmap
        *ngIf="titulo == 'Llosa'"
        [overlays]="overlays"
        [options]="mapLlosa"
        [style]="{ width: '100%', height: '320px' }"
      ></p-gmap>
    </div>
    <div class="col-md-5 col-sm-10">
      <div class="row mb-5">
        <h2 class="h2 text-center w-100">Horario</h2>
      </div>
      <div class="row lead w-100">
        <p class="text-center w-100">
          De lunes a viernes: <i class="pl-1">{{ horario }}</i>
        </p>
      </div>
      <div class="row lead text-center w-100">
        <p class="text-center w-100">
          Sábados: <i class="pl-1">{{ horarioSabado }}</i>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="parallax-2" style="height: 70%"></div>
<div class="fondo-footer"></div>

<div class="row justify-content-around align-self-center p-5">
  <div class="row">
    <div class="col-md-4 col-sm-4 w-100">
      <p class="lead">
        Teléfono catadau:
      </p>
      <p class="lead">609647432</p>
      <p class="lead">962990982</p>
    </div>
    <div class="col-md-4 col-sm-4 w-100">
      <p class="lead">
        Teléfono llosa:
      </p>
      <p class="lead">609647432</p>
      <p class="lead">962231128</p>
    </div>
    <div class="col-md-4 col-sm-4 w-100">
      <p class="lead">
        Correo:
      </p>
      <p class="lead">vetllosa@hotmail.com</p>
    </div>
  </div>
</div>
